/***********************************************************
 * design: overall / structural
 ***********************************************************/
/* Containers */
#everything_wrapper {
  height: 100vh;
  
  background-image: url(./assets/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#menu {
  background: rgba(255, 255, 255, 0.9);
}​

body {

}

/***********************************************************
 * design: buttons + dropdown stuff
 ***********************************************************/
 .stop-scrolling {
  height: 100%;
  overflow: hidden;
}

 .switch {
  position: relative;
  display: inline-block;
  width: 42px !important;
  height: 24px;
  margin: 0 5px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}
.slider.round:before {
  border-radius: 50%;
}

select {
  margin: 20px;
  width: 140px;
  padding: 5px 3px 5px 5px;
  font-size: 16px;
  border: 1px solid #CCC;
  height: 34px;
}

/* summary button */
#summary{
  position: relative;
  text-align: center;
  padding: 20px;
  margin-top: 60px;
}

/* fullscreen button*/
#btnFullscreenstart{
  /*position:relative;
  text-align: center;
  padding: 20px;
  */
}

#okay{
  position:relative;
  text-align: center;
  padding: 20px;
}

/*continue button */
#continue{
  position: relative;
  text-align: center;
  padding: 20px;
}

/* pid input values */
/*hide up/down arrows*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.slidecontainer {
  width: 20%; /* Width of the outside container */
}

.slider {
  -webkit-appearance: none;
  width: 20%;
  margin: 10px;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.sliders {
  display:inline
}